h1,h2,h3,h4{
    font-family: Arial, Helvetica, serif;
}
legend h3,
legend h4{
    font-weight: bold;
    line-height: 1.5 
    font-family: Arial, Helvetica, serif;
    margin:0;
}
legend h3{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

legend h4{
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

ul.menu{
    padding: 0;
}
ul.menu li{
    display: inline-block;
}
ul.menu li a{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 6px;
}
ul.menu li a:hover{
    background-color: #eee;
    text-decoration: none;
}
code{
    background-color: #eee;
    border: solid 1px #ddd;
    display: inline-block;
    margin: -2px auto;
    padding: 2px 4px;
}